.title {
  color: #fff;
  font-size: 100px;
  text-align: center;
  margin: 80px auto 20px auto;

  &::selection {
    color: #d33;
    background-color: #fff;
  }
}

.content {
  // min-height: 100vh;
  padding: 1px;
  padding-bottom: 60px;
}

.search_box {
  background-color: #fff;
  margin: auto;
  max-width: 600px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.search_tab {
  margin: 0 10px;
  color: #343434;
}

.search_form {
  width: 100%;
  margin-top: 20px;
  align-items: center;
  position: relative;

  & input {
    // width: 94%;
    flex: 1;
    box-sizing: border-box;
    line-height: 36px;
    border-radius: 99px 0 0 99px;
    // outline: none;
    border: 1px solid #eee;
    background: #f9f9f9;
    padding: 0 1rem;
    box-sizing: border-box;
    // margin: 2vw 3%;
  }
}

.search_form_clear {
  position: relative;
  margin-left: -30px;
}

.search_form_submit {
  height: 38px;
  background-color: green;
  width: 100px;
  border-radius: 0 99px 99px 0;
  // margin-left: 10px;
  color: #fff;
}

.rec {
  width: 720px;
  margin: 60px auto;
}

.rec_icon {
  width: 20%;
  align-items: center;
  justify-content: center;
  // color: #fff;

  &:hover {
    opacity: 0.8;
  }

  img {
    width: 64px;
    height: 64px;
    border-radius: 99px;
    border: 2px solid #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #eee;
    margin-bottom: 6px;
  }
}
